<div id="PartB">
  {{#each listeVoiture}}
  <div id="PartHa4">
    <img class="imgVoiture"src="/image/ecurie/voiture/{{{this.VOIADRESSEIMAGE}}}">
    <p>
      {{this.VOINOM}}
      {{this.TYPELIBELLE}}
    </p>
  </div>
{{/each}}
</div>