<h1>{{title}}</h1>

<form action="/accueil" method="POST">
    <label for="login">Login : </label>
    <input name="login" type="text">

    <label for="mdp">Mot de passe : </label>
    <input name="mdp" type="password">

    <input type="button" value="Annuler">
    <input type="submit" value="Connexion">
</form>